.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--spacing-xl);
}

.overlayLink {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.buttonsGroup {
  position: absolute;
  bottom: var(--spacing-md);
  right: var(--spacing-md);
  z-index: 2;
  display: flex;
  align-items: center;
  gap: var(--spacing-sm);
}
